###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

plugins =[{}]
    "minify" = "!plg:minify"
@
tasks =[{}]
    
    build =[{}]
        src =[]
            !tpl:umd-header-deps.tpl.js  # include a umd-header template
            
            ## sudoku base components ##
            ###############################
            ./src/js/sudoku.js
            ./src/js/sudoku.factory.js
            
            ## sudoku/puzzle grid components ##
            ######################################
            ./src/js/sudoku.puzzle.js
            ./src/js/sudoku.puzzle.sudoku.js
            
            ## sudoku/puzzle compiler components ##
            ##########################################
            ./src/js/sudoku.compiler.js
            ./src/js/sudoku.compiler.sudoku.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template
        @

        # extract header from this file
        header = ./src/js/sudoku.js

        # replacements
        replace =[{}]
            "@@ROOT@@" = "this"
            "@@MODULE@@" = "Sudoku"
            "@@DEPS@@" = "Classy, PublishSubscribe, Asynchronous"
            
            "@@VERSION@@" = "0.11"
            "@@USE_STRICT@@" = '"use strict";'
            "@@USERMODE@@" = "false"
        @

        out = ./build/sudoku.js
    @
    
    minify =[{}]
        src =[]
            ./build/sudoku.js
        @

        # extract header from this file
        header = ./build/sudoku.js

        # Minify the Package (map of lists)
        minify ={}

            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @

            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @

            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        @

        out = ./build/sudoku.min.js
    @
    
    #minify_css =[{}]
    #    src =[]
    #        ./src/sudoku.css
    #    @
    #
    #    # extract header from this file
    #    header = ./src/sudoku.css
    #
    #    # Minify the Package (map of lists)
    #    minify ={}
    #
    #        cssmin =[]
    #            #--remove-comments
    #            #--no-minify
    #            --vendor-prefixes
    #            --hsla2rgba
    #            --rgb2hex
    #            #--embed-imports
    #            #--embed-images
    #            #--embed-fonts
    #        @
    #    @
    #
    #    out = ./build/sudoku.min.css
    #@
    
    bundle =[{}]
        bundle =[]
            ./src/js/dependencies/classy.js
            ./src/js/dependencies/publishsubscribe.js
            ./src/js/dependencies/asynchronous.js
            ./build/sudoku.min.js
        @


        out = ./build/sudoku.bundle.js
    @
    
@